{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vaccine Booking</title>
    <style>
        h1{
            text-align: center;
        }

    </style>
</head>
<body style="background-image: url('/static/images/1.jpg'); background-repeat: no-repeat; background-size: cover;">
    
    <h1 style="background-color: transparent; font-size: 50px;" >VACCINATION BOOKING SITE</h1>
    {% block content %}

    {% endblock %}
    <!-- <img src="{%static 'images/home_bg.jpg'%}" alt="i" style="max-width: 100%; margin:0%">  -->

</body>
</html>
