{% extends 'home_template.html' %}


{% block content %}
<center>
    <form name="Login" action="" method="post">
        {% csrf_token %}
        <h1 style="font-size: 40px;">LOGIN</h1>
        <pre style="font-size: 20px;">
            USERNAME : <input type="text" name="username" value="" required><br>
            PASSWORD : <input type="text" name="password" value="" required><br>
            <input  style="align-items: center; font-size: 20px;padding: 5px; background-color:rgba(0, 110, 255, 0.031);" type="submit" name="reg" value="SUBMIT">
        </pre>
    </form>
    {% for message in messages%}
    <h2 style="color: red;"><b>{{message}}</b></h2>
    {% endfor%}
</center>
{% endblock %}
