{% extends 'home_template.html' %}


{% block content %}
    <center>
            <form name="centre" action="" method="post">
                {% csrf_token %}
                <h1> Select Vaccination Centre</h1>
                <input style= "padding: 10px;"  list="hospital" name="hospital" placeholder="Select Centre"type="text" required >
                <datalist id="hospital">
                    <option value="Appolo Hospital (9:00 A.M to 5:00 P.M)" name="appolo"></option>
                    <option value="Maadha Hospital (9:00 A.M to 4:00 P.M)" name="maadha"></option>
                    <option value="Billroth Hospital (8:00 A.M to 6:00 P.M)" name="billroth"></option>
                    <option value="C.S.I. Kalyani Hospital (9:00 A.M to 5:00 P.M)" name="c.s.i"></option>
                    <option value="Government General Hospital (8:00 A.M to 5:00 P.M)" name="government"></option>
                </datalist>
                <input style="padding: 10px"list="slots" name="hospital" placeholder="Select Slots"type="text" required>
                <datalist id="slots">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                </datalist>
                <input style="padding: 10px" type="submit" value="Register">
            </form>
            <h2>APPLY FOR SLOT</h2>
            <a href="{% url 'user_logout'%}"><button  style="align-items: center; font-size: 20px;padding: 10px; background-color:rgba(0, 110, 255, 0.031);">LOGOUT</button></a>
        
    </center>
{% endblock %}
